
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 750;
}
div{

    background-color: black;
    width: 50%;
    margin-left: 25%;
    font-family: "Libre Baskerville",serif;
    text-align: center;

}
img{
    width: 100%;
     border: 5px solid yellow;  

}
html{
    background-color: black;
}

h1{
    color: aliceblue;
    margin-left: 60px;
}
p{
  color: aliceblue;
    margin-left: 60px;  
}
body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}